.clients {
	// width: 70%;
	// width: 70vw;
	width: 100%;
	height: max-content;
	padding: 15rem 10rem 15rem 10rem;
	text-align: center;
	&__logos {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(10rem, 20rem));
		gap: 15rem;
		row-gap: 3rem;
		justify-content: center;
		align-items: center;
		@include respond("tab") {
			row-gap: 7rem;
			column-gap: 15rem;
		}
		@include respond("phone") {
			row-gap: 8rem;
		}
	}

	&__heading {
		font-size: 4rem;
		font-weight: 500;
		letter-spacing: 0.09rem;
		margin-bottom: 5.5rem;
		margin-inline-start: 3rem;
		@include respond("tab") {
			margin-inline-start: 0;
		}
	}

	&__img {
		width: 20rem;
		@include respond("tab") {
			width: 17rem;
		}
	}

	@include respond("tab") {
		height: max-content;
		padding: 0rem 0 10rem 0;
	}
}
