.cta {
	width: 90vw;
	display: flex;
	margin: 16rem 0 0 0;
	border-bottom: 1px solid rgb(186, 185, 185);
	padding-bottom: 6rem;
	@include flex-center-col;

	&-header {
		margin: 2rem 0;
		@include flex-center-col;
		gap: 1rem;
	}
	&-heading {
		font-size: 3.5rem;
		font-weight: 500;
		letter-spacing: 0.7px;
		color: #272727;
	}
	&-text {
		font-size: 1.8rem;
		letter-spacing: 0.09rem;
		color: $text-color-lighter;
	}

	&-features-list {
		@include flex-center;
		gap: 2rem;
		margin: 2.6rem 0;
		@include respond("phone") {
			flex-direction: column;
			align-items: flex-start;
			margin: 3rem 0;
		}
	}

	&-features-item {
		@include flex-center;
		gap: 1rem;
		@include respond("phone") {
			gap: 2rem;
		}
	}

	&-features-text {
		font-size: 1.8rem;
		color: $text-color-lighter;
		@include respond("phone") {
			font-size: 2rem;
			font-weight: 500;
		}
	}

	&-btns {
		@include flex-center;
		gap: 2.5rem;

		@include respond("phone") {
			flex-direction: column;
			width: 100%;
		}
	}

	&-icon {
		width: 3.5rem;
		@include respond("phone") {
			border-radius: 50%;
		}
	}

	@include respond("tab-landscape") {
		margin-top: 8rem;
		text-align: center;
		width: 85%;
	}
}
