.footer {
	// width: 100%;
	height: max-content;
	padding: 0rem 12rem 4rem 12rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include respond("tab") {
		padding: 0rem 4rem 4rem 4rem;
	}

	&__container {
		display: flex;
		// width: 85vw;
		// width: 80rem;
		// height: min-content;
		justify-content: space-between;
		border-bottom: 1px solid rgb(217, 216, 216);
		padding-bottom: 4rem;
		@include respond("tab") {
			display: flex;
			flex-direction: column;
			gap: 3rem;
		}

		@include respond("phone") {
			justify-content: center;
			align-items: center;
		}
		@include respond("tab-landscape") {
			flex-direction: column;
			gap: 3rem;
		}
	}
	&__company-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2.5rem;
		min-width: 37rem;

		& .logo-text {
			display: inline-block;
		}
		@include respond("phone") {
			@include flex-center-col;
		}
	}

	&__lists {
		display: flex;
		justify-content: space-between;
		gap: 5rem;
		flex-basis: max-content;
		// flex-basis: ;
		overflow: hidden;

		@include respond("tab-landscape") {
			flex-wrap: wrap;
			row-gap: 3rem;
		}
		@include respond("tab") {
			flex-basis: 100%;
			// flex-wrap: wrap;
		}
		@include respond("phone") {
			row-gap: 3rem;
		}
	}

	&__list-heading {
		font-size: 2rem;
		font-weight: 500;
		letter-spacing: 0.09rem;
		margin-bottom: 2rem;
	}

	&__list {
		list-style: none;

		&-container {
			// @include respond(phone) {
			// 	min-width: 30rem;
			// }
		}
	}
	&__list-item {
		font-size: 1.7rem;
		letter-spacing: 0.09rem;
		color: $text-color-lighter;
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	&__copyright {
		// width: 80vw;
		min-width: 100%;
		margin-top: 5rem;
		display: flex;
		justify-content: space-between;

		&-text {
			font-size: 1.7rem;
			color: rgb(54, 54, 54);
			font-weight: 400;
		}

		&-tc {
			display: flex;
			justify-content: space-between;
			gap: 1.5rem;
			font-size: 1.5rem;

			&-line {
				background-color: rgb(200, 200, 200);
				height: 2rem;
				width: 0.1rem;
			}
			&-link {
				font-size: inherit;
				text-decoration: none;
				color: #1a75ff;
				width: max-content;
			}
			@include respond("tab") {
				max-width: 25rem;
			}
			@include respond("phone") {
				max-width: 15rem;
			}
		}
	}
}
