.newsletter {
	margin: 18rem 0 0 5rem;
	padding: 7rem 5rem;
	width: 80%;
	background-color: #f0f6ff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-height: max-content;
	position: relative;
	border-radius: 3.5rem;
	overflow: hidden;
	@include respond("tab") {
		width: 100vw;
		padding: 7rem 5rem;
		margin: 10rem 0;
		border-radius: 0;
	}
	@include respond("phone") {
		padding: 7rem 3rem;
	}

	&__bg-graphics {
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 10;
		@include respond("tab") {
			right: -70px;
		}
	}
	&__bg-img {
		width: 100%;
		height: 100%;
		z-index: 10;
		position: relative;

		@include respond("tab") {
			z-index: -10;
		}

		@include respond("phone") {
			z-index: -10;
		}
	}

	&__content {
		width: 60%;
		@include respond("tab") {
			width: 90%;
		}
		@include respond("tab") {
			width: 100%;
		}
	}
	&__heading {
		font-size: 3.5rem;
		color: #002966;
		letter-spacing: 0.09rem;
		font-weight: 500;
	}
	&__text {
		font-size: 1.8rem;
		width: 75%;
		letter-spacing: 0.09rem;
		color: #002966;
		margin: 2rem 0;
	}
	&__form {
		width: 80%;
		padding: 1.5rem 0;
		display: flex;
		gap: 1.5rem;

		@include respond("phone") {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
	}
	&__input {
		flex-basis: 70%;
		font-size: 1.6rem;
		background-color: #ffffff;
		padding: 0.8rem;
		border-radius: 1rem;
		outline: none;
		border: none;

		@include respond("phone") {
			width: 95%;
			padding: 1.5rem;
			z-index: 10;
		}
	}
}
